<div class="panel panel-info">
    <div class="panel-heading">Player Stats
        <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true" class="app-icon icon-logout small" ng-click="exit()">;</span>
        </button>
    </div>
    <div class="panel-body">
        <table class="table table-borderless">
            <tr>
                <td>Name:</td>
                <th><input ng-model="user.fullname"></th>
            </tr>
            <tr>
                <td>Coins:</td>
                <th><input ng-model="user.coins"></th>
            </tr>
        </table>
    </div>
</div>

