<div class="panel panel-info">
    <div class="panel-heading">Player Stats
        <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true" class="app-icon icon-logout small" ng-click="exit()"></span>
        </button>
    </div>
    <div class="panel-body">
        <table class="table table-borderless">
            <tr>
                <td>Name:</td>
                <th><input tabindex="-1" ng-model="user.fullname" readonly="readonly"></th>
            </tr>
            <tr>
                <td>Coins:</td>
                <th><input tabindex="-1" ng-model="user.balance" readonly="readonly"></th>
            </tr>
        </table>
    </div>
</div>

