<div class="panel panel-info">
    <div class="panel-heading">Inventory
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <tr ng-repeat="item in goods">
                <td class="vert-align">
                    <span class="app-icon icon-{{ item.type }} large" title="{{ item.type }}"></span>
                </td>
                <td class="vert-align">Quantity: <strong>{{ item.quantity }}</strong></td>
                <td class="vert-align">
                    <button class="btn btn-success" type="button" ng-click="start(item.id)">
                    <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
                    Auction</button>
                </td>
            </tr>
        </table>
    </div>
</div>

