<div class="panel panel-info">
    <div class="panel-heading">Inventory
    </div>
    <div class="panel-body">
        <table class="table table-borderless">
            <tr>
                <td><span class="app-icon icon-bread large"></span>Bread</td>
                <th><input ng-model="inv.quantity">Quantity</th>
                <th><span class="app-icon icon-hammer large"></span>
                    <button class="btn btn-default" type="button">Auction</button>
                </th>
            </tr>
            <tr>
                <td><span class="app-icon icon-carrot large"></span>Carrot</td>
                <th><input ng-model="inv.quantity">Quantity</th>
                <th><span class="app-icon icon-hammer large"></span>
                    <button class="btn btn-default" type="button">Auction</button>
                </th>
            </tr>
            <tr>
                <td><span class="app-icon icon-diamond large"></span>Diamond</td>
                <th><input ng-model="inv.quantity">Quantity</th>
                <th><span class="app-icon icon-hammer large"></span>
                    <button class="btn btn-default" type="button">Auction</button>
                </th>
            </tr>
        </table>
    </div>
</div>

