<div class="panel panel-info">
    <div class="panel-heading">Current Auction</div>
    <div class="panel-body">
        <div class="alert alert-warning" ng-show="!showAuction" role="alert">No auction at the moment.</div>
        <form class="form-horizontal" ng-show="showAuction">
            <div class="form-group">
                <label for="sellerName" class="col-sm-4 control-label">Seller</label>
                <div class="col-sm-4">
                    <input tabindex="-1" ng-model="auction.seller" class="form-control input-borderless" id="sellerName" readonly="readonly">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-offset-2 col-sm-3">
                    <span class="app-icon icon-{{ auction.type }} large" title="{{ auction.type }}"></span>
                </div>
                <div class="form-group form-group-lg col-sm-3">
                    <label for="quantity" class="control-label">Quantity</label>
                    <input tabindex="-1" ng-model="auction.quantity" class="form-control input-borderless" id="quantity" readonly="readonly">
                </div>
            </div>
            <div class="form-group">
                <label for="timeLeft" class="col-sm-offset-1 col-sm-4 control-label">Time left</label>
                <div class="col-sm-4">
                    <input tabindex="-1" ng-model="auction.timeleft" class="form-control input-borderless" id="timeLeft" readonly="readonly" value="seconds">
                </div>
            </div>
            <div class="form-group">
                <label for="lastBid" class="col-sm-offset-1 col-sm-4 control-label">Winning bid</label>
                <div class="col-sm-4">
                    <input tabindex="-1" ng-model="auction.lastbid" class="form-control input-borderless" id="lastBid" readonly="readonly">
                </div>
            </div>
            <div class="form-group form-group-lg">
                <div class="col-sm-offset-3 col-sm-2">
                    <input type="number" ng-model="auction.bid" autofocus min="{{ auction.lastbid+1 }}" max="{{ user.balance }}">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-4">
                    <button type="button" class="btn btn-warning" ng-click="place()">Place Bid</button>
                </div>
            </div>
        </form>
    </div>
</div>

