body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.form-signin {
    max-width:350px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

a {
    color: #00B7FF;
}

#wrap {
    display: block;
    margin: 0 auto;
    width: 200px;
}

.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless tbody tr th input {
    border: none;
}

.app-icon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    float: left;
    display: block; /* This is required */
}

.app-icon.normal {
    width: 32px;
    height: 32px;
}

.app-icon.small {
    width: 16px;
    height: 16px;
}

.app-icon.middle {
    width: 32px;
    height: 32px;
}

.app-icon.large {
    width: 48px;
    height: 48px;
}

.app-icon.icon-logout {
    background: url(/img/ic_power_settings_new_black_24dp_1x.png);
    background-size: cover;
}

.app-icon.icon-bread {
    background: url(/img/Food-Bread-icon.png);
    background-size: cover;
}

.app-icon.icon-carrot {
    background: url(/img/Food-Carrot-icon.png);
    background-size: cover;
}

.app-icon.icon-diamond {
    background: url(/img/Diamond-icon.png);
    background-size: cover;
}

.app-icon.icon-hammer {
    background: url(/img/Household-Hammer-icon.png);
    background-size: cover;
}